
 <div style='border: 4px dashed black'>

    <img src='http://bit.ly/1eze8aE' height='555'>
    <% if @name %>
    <h1>My name is <%= @name %></h1>
    <% end %>
    <%# <form action="/cat-naming">
    <input type="text" name="name">
    <input type="submit" value="submit">
    </form> %>
 </div>